:root {
    --primary: #4267b2;
    --tint-lightest: #d9e1f0;
    --tint-lighter: #bddcf0;
    --tint-light: #5576ba;
    --shade-light: #3b5da0;
    --shade--dark: #141f35;
    --primary-light-transparent: #4267b2a4;
    --primary-dark-transparent: #4267b270;
    --tint-lightest-colorless: #d9e1f000;
    --tint-lighter-transparent: #bddcf03b;
    --special-color: #312e81;
    --white: #fff;
    --grey-lightest: #ddd;
    --hue-light-transparent: #ecf0f79c;
    --hue-light: #e7f2fa;
    --hue-lighter: #e7f2fa70;
    --grey-lighter: #6f6f6f;
    --grey-light: #767676;
    --grey: #555;
    --grey-dark: #aaa;
    --grey-darker: #333;
    --shadow: #365c96;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--grey);
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
}


/**************************/


/* GENRAL REUSABLE COMPONENTS */


/**************************/

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.containers {
    max-width: 170rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}


/* .containerss {
    max-width: 170rem;
    padding: 0 3.2rem;
    margin: 0 auto;
} */

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    /* margin-bottom: 9.6rem; */
}


/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}


/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
    align-items: center;
}

.center {
    text-align: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: var(--grey-darker);
    /* color: #45260a; */
    /* color: #343a40; */
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-secondarys {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.heading-tertiary {
    font-size: 3.3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading-box {
    background-color: var(--tint-lighter);
    border-radius: 50px;
    padding: 1.6rem;
    display: inline-block;
    margin-bottom: 1.6rem;
}

.subheading-box-dark {
    background-color: var(--primary);
    border-radius: 50px;
    padding: 1.6rem;
    display: inline-block;
    margin-bottom: 1.6rem;
}

.subheading-box-light {
    background-color: var(--tint-lighter-transparent);
    border-radius: 50px;
    padding: 1.6rem;
    display: inline-block;
    margin-bottom: 1.6rem;
}

.subheading {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    background-image: linear-gradient(45deg, var(--primary), var(--primary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.subheading-dark {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    background-image: linear-gradient( 45deg, var(--tint-lighter), var(--tint-lighter));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.subheading-light {
    display: block;
    letter-spacing: 0.75px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    color: var(--primary-light-transparent);
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;
    /* Put transition on original "state" */
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
    background-image: linear-gradient(270deg, var(--tint-light), var(--primary));
    color: var(--white);
}

.btn--full:hover,
.btn--full:active {
    background-image: linear-gradient(270deg, var(--tint-light), var(--primary));
    box-shadow: 0 5px 20px var(--shadow);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: var(--white);
    color: var(--grey);
}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--tint-lightest);
    /* border: 3px solid var(--white); */
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px var(--white);
}

.btn--form {
    background-image: linear-gradient(270deg, var(--tint-light), var(--primary));
    color: var(--white);
    max-width: fit-content;
    padding: 1.2rem 2.6rem;
    margin: 0 auto;
}

.btn--form:hover {
    background-image: linear-gradient(270deg, var(--tint-light), var(--primary));
    box-shadow: 0 5px 20px var(--shadow);
}

.link:link,
.link:visited {
    display: inline-block;
    color: var(--primary);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}


/* .link:hover,
.link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
} */

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: var(--primary);
}

*:focus {
    outline: none;
}


/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.margin-bottom-md {
    margin-bottom: 9.6rem !important;
}

.center-text {
    text-align: center;
}

strong {
    font-weight: 500;
}